In [1]:
# import pandas
import pandas as pd
import os

school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources","students_complete.csv")

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [2]:
# at-a-glance data of a DataFrame

# df.head() prints the first five rows of a DataFrame
# df.tail() prints the last five rows
# df.head(<int>) takes any integer and returns the number of rows specified counting from the top
# df.tail(<int>) also works the same

In [3]:
# Data cleaning

student_data_df.isnull()

# chaining sum() to isnull() sums  the number of values that are null in each column

student_data_df.isnull().sum()

# Looks like no missing values!

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [4]:
# the dtype attribute can be chained or called on a DataFrame to reveal datatypes
# calling it on the dataframe returns all its data types
# calling it on a column of a dataframe returns the column's data types

# if the column name has no spaces, you can also call df.column.dtype
# where column is the column name and df is the dataframe name

school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [5]:
school_data_df["School ID"].dtype

dtype('int64')

In [6]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [7]:
# Data Cleaning: -------------------------------

# From our exploratory analysis in cleaning_student_names.ipynb, we know the following pre/suffixes are in our dataset

# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [8]:
# Merging DataFrames -----------------------

# We can merge two dataframes only if they have a column in common, using the merge() method

# 1. Add the DataFrames to be merged
# 2. Add the shared column to both DataFrames
# 3. Define how the DataFrame merge should occur (left, right, inner, or outer, default=inner)

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# In the above case, we merge the left dataframe student_data_df with the right school_data_df on the school_name column

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [9]:
# Count the number of observations (rows) in our merged dataset
school_data_complete_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [10]:
student_count = school_data_complete_df["Student ID"].count()

In [11]:
# counting the number of schools

# we can either count the number of schools in the school_data_df OR
# we can use the unique() method on the school_name column in the merged DataFrame

# Calculate the total number of schools
school_count = len(school_data_complete_df["school_name"].unique())
school_count

# Either method returns 15

15

In [12]:
# getting the total budget of the district
# use the original dataframe instead of the merged for this question
total_budget = sum(school_data_df["budget"])
total_budget

24649428

In [13]:
# Calculate the average reading score.
average_reading_score = float(school_data_complete_df["reading_score"].mean())
average_reading_score

81.87784018381414

In [14]:
# Calculate the average math score.
average_math_score = float(school_data_complete_df["math_score"].mean())
average_math_score

78.98537145774827

In [15]:
# Determining the passing grade of both math and reading, to find the # of students who passesd BOTH

# Passing score was 70 (arbitrary, from prompt)

# By assigning a comparator operator >= to the math_score and reading_score columns, we get a pandas Series of the evaluation
# Each value in math_score is assigned a Boolean True or False depending on whether it was >= 70
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [16]:
# Get all the students who are passing math in a new DataFrame.

# DataFrames can be indexed using a comparator argument. In this case, the Series that results due to the >= 70 operation
# is used in place of the original Series in the math_score column
# This is called FILTERING
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

# The above is done for reading scores
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [17]:
# Getting the number of students who passed math and reading, without relation to each other

# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [18]:
print(passing_math_count)
print(passing_reading_count)

29370
33610

In [19]:
# getting the percentage of students who passed math and reading

# calculating the percentage who passed math. Convert student_count from integer to float bc we're now dealing w/ percent
passing_math_percentage = passing_math_count/float(student_count) * 100

# calculating the percentage who passed reading
passing_reading_percentage = passing_reading_count/float(student_count) * 100

In [20]:
print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [21]:
# Getting the percentage of studednts who passed BOTH math AND reading
# We FILTER the DataFrame and COMBINE the conditional statements above using the "&" (not AND) logical operator
passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / float(student_count) * 100
overall_passing_percentage

65.17232575950983

In [22]:
# Creating a Summary DataFrame as a report

# Since we don't have our data in a structured format, we need to put it into one
# A list of dictionaries works well here; keys are column names and values are the values themselves
# Since we only have one row, we only use one dictionary; each row is its own dictionary, ordered via the list structure
# Lists are indexed, dictionaries are not
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [23]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [24]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [25]:
# Format the columns.
# if TypeError value is raised, ensure all inputs where "1f" etc being used are formatted as FLOAT
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [26]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [27]:
# Re-ordering columns

# Re-assigning a DataFrame indexed by an ordered list of column names orders the columns appropriately
# Can also filter out columns we don't need, if we want to report a small subset of the original DataFrame

# df = df[list containing column names in desired order]

# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [28]:
# Creating a School Summary similar to the District Summary above:
# We want to create a school summary table whose index, instead of 0-15, is the school name. We need to change the index.
# Determine the school type.
# the set_index() method sets the index to the values list in the column in brackets ["school_name"].
# ["type"] is the only column indexed here, so our Series only has one set of values, the school type
per_school_types = school_data_df.set_index(["school_name"])["type"]


# cast the above selection, including modified index, to a dataframe
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [29]:
# Calculate the total student count. (set_index() method) ---------------
# if we didn't use the set_index() method below, we would end up with an index of 0-15
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [30]:
# Calculate the total student count (value_counts() method) ----------------------
# Since the school_data_complete_df has each individual student's school associated with them, we can count the occurences
# We can use the value_counts() method on the school_name column to get the number of times each school appears
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

# Note this appears in descending order

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [31]:
# Finding the budget per student -------------

# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [32]:
# Finding the budget per student -------------

# Now that we have the per school budget and the per school population (per_school_counts) we can divide
# to find per student budget

# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

# note we can do this because both Series' data types are the same (int64) AND have the same index (school_name)

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [33]:
# Calculate the average math scores of each school -----------------------
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
                      ..
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64

In [34]:
# pandas groupby() function ----------------

# The groupby() function from pandas can apply a mathematical operation to an object and combine the results
# Below, by chaining the .mean() method to the .groupby() function, we can apply the .mean() method
# to all values in the "math_score" column, grouped by "school_name"

# the dataframe.mean() method is uniquely called on pandas DataFrames to return the mean of values for the requested axis
# in the case below, we are calling the mean() method on the "math_score" column, using square brackets to index

# IE for all schools in "school_name" get the average of the values in "math_score"

# Calculate the average math scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [35]:
# Calculating the percentage of students who passed math and reading --------------------
# Passing score is >= 70

# 1. Get number of students who passed math and reading

    # We already have the number of students who passed math and reading through passing_math and passing_reading dataframes

# 2. Get the students who passed math and reading

In [36]:
# Calculate the passing scores by creating a filtered DataFrame.
# Filter the original dataset to only include the number of students who passed math, and save as a new dataframe
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

# Filter the original dataset to only include the number of students who passed reading, and save as a new dataframe
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [37]:
# Calculate the number of students passing math and passing reading by school --------------------
# Use the groupby() function to set the Series index as the school_name column and count the number of students in the student_name column
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_math
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [38]:
# Determining the percentage of students in each school who passed math and reading when compared to the overall school population "per_school_counts"
# We have already gotten the total school population per school in per_school_counts above
# We can divide the above Series by the per_school_counts Series, as both have the same index "school_name"

# Re-assign per_school_passing_math and per_school_passing_reading

per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [39]:
# Getting the overall percent of students who passed BOTH reading AND math --------------------
# Combine comparator statements when filtering out original data. Each comparator statement must be contained within round braces
# Count the number of students from the resulting filtered dataframe (counting "student_name" column), resulting in a Series
# Divide this number by the total number of students in each school. This is possible as both Series' share the school_name as index

per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [61]:
# Create a summary dataframe --------------------
# Each column of the dataframe is a "key", each Series is a value
# We are able to do this because EVERY SERIES USED IS INDEXED BY THE SAME VALUES: "school_name" column
# If they were not indexed the same way (either through use of set_index() or groupby()), the added DataFrame would have NaN values

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [62]:
# Formatting our summary dataframe --------------------

# Remember that formatting to a dataframe is applied by chaining the map() and "{: }".format functions
# Whatever format goes into the string preceding .format is the format the number will be
# In this case, the dollar sign precedes the budget, the ,  

'''
https://intellipaat.com/community/2447/how-to-print-number-with-commas-as-thousands-separators
In this method, the part after the colon is the format specifier. The comma is the separator character you want, 

'''

per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [ ]:
# Reordering our columns to make more sense 

# If our columns above needed to be moved around, we can do the following to reorder them:

# 1. Cast the column names (in desired order) to a new list

# 2. Set the existing dataframe equal to the new dataframe indexed by  this list: df = df[new_list]