In [14]:
# import pandas
import pandas as pd
import os

school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources","students_complete.csv")

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [15]:
# at-a-glance data of a DataFrame

# df.head() prints the first five rows of a DataFrame
# df.tail() prints the last five rows
# df.head(<int>) takes any integer and returns the number of rows specified counting from the top
# df.tail(<int>) also works the same

In [16]:
# Data cleaning

student_data_df.isnull()

# chaining sum() to isnull() sums  the number of values that are null in each column

student_data_df.isnull().sum()

# Looks like no missing values!

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [17]:
# the dtype attribute can be chained or called on a DataFrame to reveal datatypes
# calling it on the dataframe returns all its data types
# calling it on a column of a dataframe returns the column's data types

# if the column name has no spaces, you can also call df.column.dtype
# where column is the column name and df is the dataframe name

school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [18]:
school_data_df["School ID"].dtype

dtype('int64')

In [19]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [20]:
# Data Cleaning: -------------------------------

# From our exploratory analysis in cleaning_student_names.ipynb, we know the following pre/suffixes are in our dataset

# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [21]:
# Merging DataFrames -----------------------

# We can merge two dataframes only if they have a column in common, using the merge() method

# 1. Add the DataFrames to be merged
# 2. Add the shared column to both DataFrames
# 3. Define how the DataFrame merge should occur (left, right, inner, or outer, default=inner)

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# In the above case, we merge the left dataframe student_data_df with the right school_data_df on the school_name column

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [22]:
# Count the number of observations (rows) in our merged dataset
school_data_complete_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [23]:
student_count = school_data_complete_df["Student ID"].count()

In [25]:
# counting the number of schools

# we can either count the number of schools in the school_data_df OR
# we can use the unique() method on the school_name column in the merged DataFrame

# Calculate the total number of schools
school_count = len(school_data_complete_df["school_name"].unique())
school_count

# Either method returns 15

15

In [26]:
# getting the total budget of the district
# use the original dataframe instead of the merged for this question
total_budget = sum(school_data_df["budget"])
total_budget

24649428

In [47]:
# Calculate the average reading score.
average_reading_score = float(school_data_complete_df["reading_score"].mean())
average_reading_score

81.87784018381414

In [48]:
# Calculate the average math score.
average_math_score = float(school_data_complete_df["math_score"].mean())
average_math_score

78.98537145774827

In [29]:
# Determining the passing grade of both math and reading, to find the # of students who passesd BOTH

# Passing score was 70 (arbitrary, from prompt)

# By assigning a comparator operator >= to the math_score and reading_score columns, we get a pandas Series of the evaluation
# Each value in math_score is assigned a Boolean True or False depending on whether it was >= 70
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [30]:
# Get all the students who are passing math in a new DataFrame.

# DataFrames can be indexed using a comparator argument. In this case, the Series that results due to the >= 70 operation
# is used in place of the original Series in the math_score column
# This is called FILTERING
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

# The above is done for reading scores
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [31]:
# Getting the number of students who passed math and reading, without relation to each other

# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [32]:
print(passing_math_count)
print(passing_reading_count)

29370
33610

In [33]:
# getting the percentage of students who passed math and reading

# calculating the percentage who passed math. Convert student_count from integer to float bc we're now dealing w/ percent
passing_math_percentage = passing_math_count/float(student_count) * 100

# calculating the percentage who passed reading
passing_reading_percentage = passing_reading_count/float(student_count) * 100

In [34]:
print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [38]:
# Getting the percentage of studednts who passed BOTH math AND reading
# We FILTER the DataFrame and COMBINE the conditional statements above using the "&" (not AND) logical operator
passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / float(student_count) * 100
overall_passing_percentage

65.17232575950983

In [54]:
# Creating a Summary DataFrame as a report

# Since we don't have our data in a structured format, we need to put it into one
# A list of dictionaries works well here; keys are column names and values are the values themselves
# Since we only have one row, we only use one dictionary; each row is its own dictionary, ordered via the list structure
# Lists are indexed, dictionaries are not
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [55]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [56]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [57]:
# Format the columns.
# if TypeError value is raised, ensure all inputs where "1f" etc being used are formatted as FLOAT
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [59]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [61]:
# Re-ordering columns

# Re-assigning a DataFrame indexed by an ordered list of column names orders the columns appropriately
# Can also filter out columns we don't need, if we want to report a small subset of the original DataFrame

# df = df[list containing column names in desired order]

# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65